.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
node_modules/
src/
webpack.config.js
rollup.config.js
rollup.typescript.config.js
package-lock.json
# package.json
tsconfig.json
README.md
publish_package.sh
test_package.sh
.vscode/
.eslintrc
.gitignore